@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Raleway';
    src: url(Raleway-VariableFont_wght.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Open Sans';
    src: url(OpenSans-VariableFont_wdth\,wght.ttf);
}

--root{
    color: hsl(243, 87%, 12%);
    color: hsl(238, 22%, 44%);
    color: hsl(224, 93%, 58%);
   color: hsl(170, 45%, 43%);
    color: hsl(240, 75%, 98%);
    color: hsl(0, 0%, 75%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    width: 100%;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
}


header{
    align-items: center;
    background-color: transparent;
    height: 120px;
}  

.logo{
    float: left;
    padding: 70px 0 0 80px; 
}

.nav{
    float: right;
    list-style: none;
  
}

.nav ul li{
    color: #000;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
      display: inline-block;
      margin: 0 7px;
      font-size: 15px;
      padding: 70px 50px 0 0;
}

.nav ul li a{
    color: hsl(243, 87%, 12%);
    font-weight: 600;
}

.section1{
    margin-top: 80px;
    display: flex;
}

.left1{
    float: left;
    width: 100%;
    margin-left: 70px;
    margin-top: 90px;
}

.left1 h2{
    font-size: 38px;
    font-weight: 700;
    color: hsl(243, 87%, 12%);
    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px;
    line-height: 55px;
}

.left1 p{
    font-size: 17px;
    font-weight: 600;
    color: hsl(243, 87%, 12%);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

input{
    width: 46%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid hsl(243, 87%, 12%);
    padding: 0 20px;
    font-size: 12px;
    font-weight: 400;
    color: hsl(243, 87%, 12%);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

input::placeholder{
    color: hsl(0, 0%, 75%);
    font-size: 12px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.btn1{
    width: 27%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color:  hsl(224, 93%, 58%);
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
    margin-left: 10px;
    box-shadow:  0px 5px 7px rgb(189, 189, 189);
}

.btn1:hover{
    background-color: #6b9bff;
}


.right1 img{
    width: 100%;
    float: right;
    margin-right: 60px;
    margin-bottom: -40px;
}

.section2{
    margin-top: 200px;
    display: flex;
    background: url(img/bg-curve.png) no-repeat;
    width: 100%;
    height: 120vh;
}

.left2{
    float: left;
    width: 100%;
    margin-left: 70px;
    margin-top: 90px;
}

.left2 h2{
    font-size: 38px;
    font-weight: 700;
    color: hsl(243, 87%, 12%);
    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px;
    margin-top: 90px;
    line-height: 55px;
}


.left2 p{
    font-size: 16px;
    font-weight: 600;
    color: hsl(243, 87%, 12%);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

.left2 .link{
    display: flex;
    margin-top: 0;
}

.left2 .link a{
    font-size: 17px;
    font-weight: 500;
    color: hsl(170, 45%, 43%);
    font-family: 'Open Sans', sans-serif;

}

.left2 .link img{
    width: 18px;
    height: 18px;
    margin-left: 7px;
    margin-top: 3px;
}

.left2 .quotes{
    background-color: #fff;
    margin-top: 50px;
    width: 50%;
    border-radius: 5px;
    box-shadow: 0px 0px 14px rgb(233, 233, 233);
}

.left2 .quotes .quote-icon img{
   margin-top: 20px;
   margin-left: 25px;
   color: #fff;
   width: 16px;
   height: 15px;
}

.left2 .quotes p{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 20px;
    color: hsl(243, 87%, 12%);
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    margin-left: 25px;
}

.left2 .quotes .user{
    display: flex;
    
}

.left2 .quotes .user img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 25px;
}

.left2 .quotes .user .user-info{
    margin-top: 3px;
}
.left2 .quotes .user .user-info h4{
    font-size: 11px;
    font-weight: 900;
    color: hsl(243, 87%, 12%);
    font-family: 'Raleway', sans-serif;
    margin-left: 10px;
    margin-bottom: -13px;
}

.left2 .quotes .user .user-info p{
    font-size: 9px;
    font-weight: 600;
    color: hsl(243, 87%, 12%);
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
    
}

.right2 img{
    width: 90%;
    float: right;
    margin-right: 60px;
    margin-top: 230px;
}

.section3{
    display: flex;
    background-color: #575989;
    width: 100%;
    height: 45vh;
}

.left3{
    float: left;
    width: 100%;
    margin-left: 70px;
    margin-top: 90px;
}

.left3 h2{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 15px;
    line-height: 55px;
}

.left3 p{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

.right3{
    float: right;
    width: 100%;
    margin-left: 100px;
    margin-top: 110px;
}

.right3 input{
    width: 70%;
    height: 45px;
    border-radius: 3px;
    border: none;
    padding: 0 20px;
    font-size: 12px;
    font-weight: 400;
    color: hsl(243, 87%, 12%);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 13px;
}

.btn2{
    width: 30%;
    height: 45px;
    border-radius: 2px;
    border: none;
    background-color:  hsl(224, 93%, 58%);
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;

    box-shadow:  1px 1px 2px rgb(44, 44, 44);
}

.btn2:hover{
    background-color: #6b9bff;
}


.section4{
    display: flex;
    background-color: #07043b;
    width: 100%;
    height: 45vh;
}

.left4{
    float: left;
    width: 100%;
    margin-left: 70px;
    margin-top: 90px;
}

.left4 .footer1{
    float: left;
    padding-right: 200px;
}

.footer1 img{
    color: #000;
}

.footer1 p{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 0px;
    letter-spacing: 0.5px;
}

.footer1 p img{
    width: 17px;
    height: 15px;
    margin-right: 20px;
}
.left4 .footer2{
    padding-top: 40px;
    float: left;
}

.left4 .footer2 a{
    display: block;
}

.right4{
    float: right;
    width: 100%;
    margin-left: 70px;
    margin-top: 130px;
}

.right4 .footer3{
    float: right;
    padding-right: 200px;
}

.right4 .footer4 a{
    display: block;
}
@media (max-width: 768px){
    .section1{
        display: block;
    }
    .section2{
         display: block;
    }
    .left1, .left2{
        display: block;
        margin-left: 0;
    }
    .right1, .right2{
        float: none;
        margin-top: 40px;
        width: 100%;
    }

}  