@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Raleway';
    src: url(Raleway-VariableFont_wght.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Open Sans';
    src: url(OpenSans-VariableFont_wdth\,wght.ttf);
}

--root{
    color: hsl(243, 87%, 12%);
    color: hsl(238, 22%, 44%);
    color: hsl(224, 93%, 58%);
   color: hsl(170, 45%, 43%);
    color: hsl(240, 75%, 98%);
    color: hsl(0, 0%, 75%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.body{
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}


header{
    align-items: center;
    background-color: transparent;
    height: 120px;
}  

.logo{
    float: left;
    padding: 70px 0 0 80px; 
}

.nav{
    float: right;
    list-style: none;
  
}

.nav ul li{
    color: #000;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
      display: inline-block;
      margin: 0 7px;
      font-size: 15px;
      padding: 70px 50px 0 0;
}

.nav ul li a{
    color: hsl(243, 87%, 12%);
    font-weight: 600;
}

.section1{
    margin-top: 80px;
    display: flex;
}

.left1{
    float: left;
    width: 100%;
    margin-left: 70px;
    margin-top: 40px;
}

.left1 h2{
    font-size: 40px;
    font-weight: 700;
    color: hsl(243, 87%, 12%);
    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px;
}

.left1 p{
    font-size: 17px;
    font-weight: 600;
    color: hsl(243, 87%, 12%);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

input{
    width: 40%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid hsl(243, 87%, 12%);
    padding: 0 20px;
    font-size: 12px;
    font-weight: 400;
    color: hsl(243, 87%, 12%);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

input::placeholder{
    color: hsl(0, 0%, 75%);
    font-size: 12px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.right1{
    float: right;
}

.right1 img{
    width: 90%;
}